{% extends 'blog/base_tabela.html' %}
{% block title %} Devoluções | StokBook{% endblock %}
{% block content_tabela_devolucao %}
<div class="basic-tb-hd">
    {% block content_titulo_devolucao %}
    <h2>Devoluções</h2>
    {% endblock %}
</div>
<div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Livro</th>
                <th>Motivo</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for devolucao in devolucoes %}
            <tr>
                <td>{{ devolucao[0] }}</td>
                <td>{{ devolucao[1] }}</td>
                <td>{{ devolucao[2] }}</td>
                <td>{{ devolucao[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Livro</th>
                <th>Motivo</th>
                <th>Cliente</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}