{% extends 'blog/base_tabela.html' %}
{% block title %}Pedidos | StokBook {% endblock %}
{% block content_tabela_pedido %}
<div class="basic-tb-hd">
    {% block content_titulo_pedido %}
    <h2>Pedidos</h2>
    {% endblock %}
</div>
<div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
        <thead>
            <tr>
                <th>ID Pedido</th>
                <th>ISBN</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Código de Rastreamento</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>{{ pedido[3] }}</td>
                <td>{{ pedido[4] }}</td>
                <td>{{ pedido[5] }}</td>
                <td>{{ pedido[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ID Pedido</th>
                <th>ISBN</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Código de Rastreamento</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}          