{% extends 'blog/base_tabela.html' %}

{% block content_tabela_cliente %}
<div class="basic-tb-hd">
    {% block content_titulo_cliente %}
    <h2>Clientes</h2>
    {% endblock %}
</div>
<div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Fixo</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in cliente %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.first_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
             <th>Name</th>
             <th>Sobrenome</th>
             <th>Email</th>
             <th>Celular</th>
             <th>Fixo</th>
             <th>Cidade</th>
             <th>Bairro</th>
             <th>Rua</th>
             <th>Numero</th>
             <th>CEP</th>
        </tfoot>
    </table>
</div>
{% endblock %}