{% extends 'blog/base_tabela.html' %}
{% block title %}Livros | StokBook {% endblock %}
{% block content_tabela_livros %}
<div class="basic-tb-hd">
    {% block content_titulo_livros %}
    <h2>Livros</h2>
    {% endblock %}
</div>
<div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Editora</th>
                <th>Edição</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Preço de compra</th>
                <th>Preço de venda</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                    <td>{{ livro[0] }}</td>
                    <td>{{ livro[2] }}</td>
                    <td>{{ livro[3] }}</td>
                    <td>{{ livro[4] }}</td>
                    <td>{{ livro[1] }}</td>
                    <td>{{ livro[5] }}</td>
                    <td>{{ livro[6] }}</td>
                    <td>{{ livro[7] }}</td>
                    <td>{{ livro[8] }}</td>
                </tr>
                {% endfor %}
        </tbody>
        <tfoot>
            <th>ISBN</th>
            <th>Editora</th>
            <th>Edição</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genero</th>
            <th>Preço de compra</th>
            <th>Preço de venda</th>
            <th>Quantidade</th>
        </tfoot>
    </table>
</div>
{% endblock %}